

# IDE/Editor settings
.vscode/
.idea/
*.swp

# Compiled/Build output
bin/
obj/
dist/
build/
*.exe
*.dll

# Logs and databases
*.log
*.sqlite
npm-debug.log*

# Sensitive information
.env
*.key
*.pem

# Dependencies (language specific)
node_modules/
venv/
.venv/
__pycache__/
target/
.env
